apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: resilient-orders-app
  namespace: argocd
  annotations:
    argocd-image-updater.argoproj.io/image-list: paymentservice=${container_image_prefix}/payment-service:main
    argocd-image-updater.argoproj.io/paymentservice.update-strategy: digest
    argocd-image-updater.argoproj.io/paymentservice.helm.image-spec: components.paymentService.image
    argocd-image-updater.argoproj.io/write-back-method: argocd
spec:
  project: default
  source:
    repoURL: "${repository_url}"
    targetRevision: "${target_revision}"
    path: infra/helm/app
    helm:
      releaseName: resilient-orders-app
      valueFiles:
        - values-payment-service-gitops.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: ${application_namespace}
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - PruneLast=true
      - ApplyOutOfSyncOnly=true
