apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: resilient-orders-platform
  namespace: argocd
spec:
  project: default
  source:
    repoURL: "${repository_url}"
    targetRevision: "${target_revision}"
    path: infra/helm/admin
    helm:
      releaseName: resilient-orders-admin
      valueFiles:
        - values-postgres-only.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: ${platform_namespace}
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - PruneLast=true
      - ApplyOutOfSyncOnly=true
